@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #56597A;
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  margin: 60px 0 15px;
}

.container {
  max-width: 704px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.case {
  max-width: 626px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.footer_container {
  max-width: 615px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.label {
  font-family: 'Grenze', 'Times New Roman', Times, serif;
  font-weight: 275;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFADAD;
}

.subheading {
  font-family: 'New Rocker', 'Times New Roman', Times, serif;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.page__castles {
  margin-bottom: 64px;
}

.page__advantages {
  margin-bottom: 86px;
}

.page__gallery {
  margin-bottom: 67px;
}

.page__additional {
  margin-bottom: 82px;
}

.page__excellence {
  margin-bottom: 43px;
}

.castles__label {
  font-family: 'Grenze', 'Times New Roman', Times, serif;
  font-weight: 275;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFF99;
}

.castles__heading {
  font-family: 'New Rocker', 'Times New Roman', Times, serif;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.castles__text {
  max-width: 668px;
  margin-bottom: 27px;
}

.castles__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FDDC83;
}

.castles__wrap-image {
  max-width: 586px;
  height: 329px;
  margin: 0 auto;
}

.castles__image {
  border: 8px solid #FFFFFF;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__subheading {
  margin-bottom: 25px;
}

.advantages__text {
  max-width: 666px;
  margin-left: 12px;
  margin-bottom: 25px;
}

.advantages__strong {
  color: #FFADAD;
}

.advantages__list {
  font-family: 'Grenze', sans-serif;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.001em;
  color: #FFFFFF;
}

.advantages__item {
  padding-left: 21px;
  margin-left: 39px;
  background-image: url("./../img/check.svg");
  background-repeat: no-repeat;
  background-position-y: 6px;
  margin-bottom: 18px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.gallery__subheading {
  margin-bottom: 24px;
}

.gallery__text {
  max-width: 600px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.gallery__wrap-image {
  position: relative;
  max-width: 582px;
  height: 339px;
  margin: 0 auto;
  margin-bottom: 51px;
}

.gallery__wrap-image::after {
  content: '';
  position: absolute;
  top: -7px;
  right: -25px;
  z-index: -1;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.gallery__image {
  max-width: 100%;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.gallery__wrap-picture {
  position: relative;
  max-width: 585px;
  height: 287px;
  margin: 0 auto;
}

.gallery__wrap-picture::before {
  content: '';
  position: absolute;
  left: -25px;
  bottom: -7px;
  z-index: -1;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.gallery__picture {
  max-width: 100%;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.additional__subheading {
  margin-bottom: 21px;
}

.additional__list {
  font-family: 'Grenze', 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.additional__item {
  position: relative;
  max-width: 605px;
  padding-left: 47px;
  margin-left: 11px;
  margin-bottom: 25px;
}

.additional__item:nth-child(1) {
  color: #97C8FF;
}

.additional__item:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.additional__item:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 9px;
  left: 8px;
  width: 16px;
  height: 16px;
  background: url("./../img/gift.svg") 0 0/contain no-repeat;
}

.additional__item:nth-child(2) {
  color: #FA7676;
}

.additional__item:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.additional__item:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 7px;
  width: 18px;
  height: 18px;
  background: url("./../img/globe.svg") 0 0/contain no-repeat;
}

.additional__item:nth-child(3) {
  color: #CCFCB6;
}

.additional__item:nth-child(3)::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.additional__item:nth-child(3)::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
  width: 20px;
  height: 20px;
  background: url("./../img/gem.svg") 0 0/contain no-repeat;
}

.additional__item:last-child {
  margin-bottom: 0;
}

.excellence__subheading {
  margin-bottom: 25px;
}

.excellence__text {
  margin-bottom: 18px;
}

.excellence__wrap-image {
  height: 229px;
  margin-bottom: 45px;
}

.excellence__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.excellence__wrap-form {
  max-width: 420px;
  height: 260px;
  margin: 0 auto;
  background: #FAFAFA;
  border: 2px solid #FFADAD;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 30px 30px 29px;
}

.excellence__title {
  font-size: 24px;
  color: #2C2C2C;
  margin-bottom: 10px;
}

.excellence__desc {
  margin: 0 auto;
  width: 198px;
  color: #222222;
  margin-bottom: 12px;
}

.excellence__wrap-input {
  position: relative;
  max-width: 360px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.excellence__wrap-input::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 12px;
  width: 22px;
  height: 17px;
  background: url("./../img/mail.svg") 0 0/contain no-repeat;
}

.excellence__input {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding-left: 40px;
  padding-right: 12px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  line-height: 100%;
}

.excellence__input:hover {
  -webkit-box-shadow: 4px 4px 4px inset rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px inset rgba(0, 0, 0, 0.25);
}

.excellence__input:focus {
  outline: #FAFAFA;
}

.excellence__input::-webkit-input-placeholder {
  color: #B9B9B9;
}

.excellence__input:-ms-input-placeholder {
  color: #B9B9B9;
}

.excellence__input::-ms-input-placeholder {
  color: #B9B9B9;
}

.excellence__input::placeholder {
  color: #B9B9B9;
}

.excellence__wrap-button {
  max-width: 360px;
  height: 40px;
}

.excellence__button {
  width: 100%;
  height: 100%;
  background: #56597A;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
}

.excellence__span {
  position: relative;
  display: inline-block;
  padding-right: 38px;
}

.excellence__span::after {
  content: '';
  position: absolute;
  top: 1px;
  right: 0;
  width: 21px;
  height: 21px;
  background: url("./../img/exit.svg") 0 0/contain no-repeat;
}

.footer {
  background-color: #FAFAFA;
  padding: 15px 0;
}

.footer__border-top {
  border-top: 2px solid #000000;
  margin-bottom: 15px;
}

.footer__copy {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: #000000;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.footer__link {
  color: #FDDC83;
  font-weight: 400;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.footer__border-bottom {
  border-top: 2px solid #000000;
}
