.additional {

    &__label {
    }

    &__subheading {
        margin-bottom: 21px;
    }

    &__list {
        font-family: 'Grenze', 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;

        letter-spacing: 0.05em;
        text-transform: capitalize;
        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    }

    &__item {
        position: relative;

        max-width: 605px;
        padding-left: 47px;
        margin-left: 11px;

        margin-bottom: 25px;

            &:nth-child(1) {
                color: #97C8FF;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 1px;
                        left: 0;

                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 9px;
                        left: 8px;

                        width: 16px;
                        height: 16px;
                        background: url('./../img/gift.svg') 0 0 / contain no-repeat;
                    }
            }

            &:nth-child(2) {
                color: #FA7676;

                &::before {
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: 0;

                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: 7px;

                    width: 18px;
                    height: 18px;
                    background: url('./../img/globe.svg') 0 0 / contain no-repeat;
                }
            }

            &:nth-child(3) {
                color: #CCFCB6;

                &::before {
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: 0;

                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: 6px;

                    width: 20px;
                    height: 20px;
                    background: url('./../img/gem.svg') 0 0 / contain no-repeat;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
    }
}

