.advantages {

    &__label {
    }

    &__subheading {
        margin-bottom: 25px;
    }

    &__text {
        max-width: 666px;
        margin-left: 12px;
        margin-bottom: 25px;
    }

    &__strong {
        color: #FFADAD;
    }

    &__list {
        font-family: 'Grenze', serif;
        line-height: 130%;
        letter-spacing: 0.001em;

        color: #FFFFFF;
    }

    &__item {
        padding-left: 21px;
        margin-left: 39px;

        // background-image: url("./../img/check.svg");
        // background-repeat: no-repeat;
        // background-position-y: 6px;

        background: url("./../img/check.svg") 0 6px no-repeat;
        margin-bottom: 18px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

