.wrapper {
    margin: 60px 0 15px;
    overflow: hidden;
}

.container {
    max-width: 704px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.case {
    max-width: 615px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.label {
    font-family: $fontGrenze;
    font-weight: 275;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #ffadad;
}

.subheading {
    font-family: $fontNewRocker;
    font-size: 32px;
    line-height: 120%;
    text-align: center;

    color: #ffffff;
}

.text {
    font-family: $fontJosefinSans;
    font-size: 16px;
    line-height: 160%;

    color: #ffffff;
}
