.gallery {

    &__label {
    }

    &__subheading {
        margin-bottom: 24px;
    }

    &__text {
        max-width: 600px;

        margin-bottom: 20px;
    }

    &__wrap-image {
        position: relative;

        max-width: 582px;
        margin: 0 auto;

        margin-bottom: 51px;

        &::after {
            content: '';
            position: absolute;
            top: -7px;
            right: -25px;
            z-index: -1;

            width: 50px;
            height: 50px;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 3px;
        }
    }

    &__image {
        max-width: 100%;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
    }

    &__wrap-picture {
        position: relative;

        max-width: 585px;
        margin: 0 auto;

        &::before {
            content: '';
            position: absolute;
            left: -25px;
            bottom: -7px;
            z-index: -1;

            width: 50px;
            height: 50px;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 3px;
        }
    }

    &__picture {
        max-width: 100%;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
    }
}

