.page {

    &__castles {
        margin-bottom: 64px;
    }

    &__advantages {
        margin-bottom: 86px;
        }

        &__gallery {
            margin-bottom: 67px;
        }
        
        &__additional {
        }
}

